*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    position: relative;
}

.circle{
    width:100px;
    height:100px;
    background-color:orange;
    border-radius: 50%;
    position: absolute;
}